.heading {
    background-image: url('../../assets/burnBook.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 10em;
    padding: 1em 3em;
}

.homepageHeader {
    color: #800000;
}

.main {
    margin: 0 2em;
}

@media all and (max-width: 500px) {
    .heading {
        background-size: 35em 20em;
    }
}