.details {
    margin-left: calc(50% - 90px);
}

.detailSpan {
    font-weight: bold;
    color: #800000;
}

.bookTitle {
    margin-right: 1em;
    margin-bottom: 0;
}

.author {
    margin-top: 0;
}

.cover {
    width: 100%;
    text-align: center;
}

.coverImg {
    width: 180px;
}

@media all and (min-width: 500px) {
    .details {
        margin-left: 0;
    }

    .cover {
        float: left;
        margin-right: 1em;
        text-align: left;
        width: 180px;
    }

    .bookTitle {
        display: inline;
    }
}