.itemButton {
  background: none;
  border: 0;
  cursor: pointer;
}

.itemButton:hover {
  background: #b1ddf1;
}

.figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cover {
  height: 280px;
  width: 180px;
}

figcaption {
  margin-top: 0.5em;
  text-align: center;
}
